# ========================
# Web Framework
# ========================
flask==3.1.1
gunicorn==23.0.0

# ========================
# Data Processing
# ========================
pandas==2.2.3
numpy==2.2.6

# ========================
# Machine Learning
# ========================
scikit-learn==1.6.1
joblib==1.5.1

# ========================
# Experiment Tracking (MLflow + DagsHub)
# ========================
mlflow==2.22.0
dagshub==0.5.4
